 /* Stile generale della pagina */
 html {
    height: 100%;
    /* Imposta altezza al 100% della finestra del browser */
}

body {
    height: 100%;
    background-color: #f8f9fa;
    /* Colore di sfondo */
    font-family: Arial, sans-serif;
    /* Tipo di carattere */
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    width: 100%;
}

/* Contenitore principale */
.container {
    width: 100%;
    min-height: calc(100vh - 56px);
    /* Altezza massima meno l'altezza della navbar */
    padding: 20px;
    background-color: #ffffff; /* giallo caldo */
    color: #000000; /* testo nero */
    /* Colore di sfondo del contenitore */
    border-radius: 10px;
    /* Bordi arrotondati */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ombra */
}

/* Tabella */
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}


table img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table td {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    /* Spazio interno alle celle */
}

/* Nome dell'immagine */
.nome-immagine {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
    /* Colore del testo */
}

/* Bottone "Avanti" */
.btn-avanti {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    /* Colore di sfondo */
    color: #fff;
    /* Colore del testo */
    border: none;
    padding: 10px 20px;
    /* Spazio interno */
    border-radius: 5px;
    /* Bordi arrotondati */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transizione al passaggio del mouse */
}

.btn-avanti:hover {
    background-color: #0056b3;
    /* Cambia colore al passaggio del mouse */
}

/* Modale */
.modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}